[Container]
ContainerName=fedora-rawhide
AddCapability=SYS_ADMIN
SeccompProfile=unconfined
Environment=DISPLAY=:1
Image=ghcr.io/koxt2/fedora-rawhide:latest
PodmanArgs=--attach stdin --tty
PublishPort=6080:6080
PublishPort=5900:5900
PublishPort=2222:22
Volume=/home/server/storage/fedora-rawhide:/home:Z

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target